*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
body{
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
.content{
  text-align: center;
}
.content ul li{
  width: 50%;
  height: 2.6rem;
  float: left;
  padding-top: 0.4rem;
  font-size: 0.35rem;
  
}
.content ul li i{
  font-size: 0.8rem;
}
.content ul .a1{
  background: #fcfafd;
}
.content ul .a2{
  background: #edebee;
}
.content ul .a3{
  background: #efedf0;
}
.content ul .a4{
  background: #fedb10;
  color: #fff;
}
.content ul .a5{
  background: #d0d7dd;
}
.content ul .a6{
  background: #fcfafd;
}
.content ul .a7{
  background: #edeef3;
}
.content ul .a8{
  background: #e3e1e4;
}