*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
body{
    background: #f8f8f8;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
b{
    font-weight: 400;
}
/*editor开始*/
.editor{
    width: 100%;
    padding: 0.25rem 0.2rem;
    background: #fff;
    position: fixed;
    z-index: 998;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
.ok{
    font-size: 0.36rem;
    margin-right: 0.1rem;
    color: #38f;
}
.empty{
    font-size: 0.36rem;
    margin-right: 0.1rem;
    color: #38f;
    display: none;
}
.editor i{
    font-size: 0.36rem;
}
.editor p{
    display: inline-block;
    margin: 0;
}
.editor a{
    float: right;
    font-size: 0.24rem;
    color: #38f;
    margin-top: 0.1rem;
}
/*editor结束*/

/*list开始*/
.list{
    margin-bottom: 1rem;
    overflow: hidden;
    
}
.list ul{
    margin-top: 1rem;
}
.list li{
    width: 100%;
    height: 2.12rem;
    border-bottom: 0.1rem solid #fff;
    padding: 0.1rem 0.2rem;
    position: relative;
    background: #fafafa;
}
.list .ok{
    float: left;
    line-height: 1.8rem; 
}
.list .empty{
    float: left;
    line-height: 1.8rem;
    display: none; 
}
.list img{
    width: 1.8rem;
    height: 1.8rem;
    float: left;
    margin: 0 0.1rem;
}
.list .goodname{
    display: inline-block;
    margin-left: 0.2rem;
    margin-bottom: 0.45rem;
}
.list .size{
    font-size: 0.22rem;
    color: #666;
}
.list .price{
    color: #f60;
}
.list .number{
    font-size: 0.22rem;
    color: #666;
    float: right;
}
.buynum{
    position: relative;
    display: inline-block;
    margin-left: 0.9rem;
    margin-bottom: 0.85rem;
    display: none;
}
.buynum .num{
    width: 0.85rem;
    height: 0.6rem;
    text-align: center;
    float: right;
    margin-right: 1.8rem;
}
.buynum span{
    display: inline-block;
    font-size: 0.33rem;
    width: 0.8rem;
    height: 0.6rem;
    line-height: 0.55rem;
    text-align: center;
    border: 0.01rem solid #999;
    position: absolute;
}
.buynum .add{
    right: 1rem;
    top: 0;
    border-left: none;
}
.buynum .sub{
    right: 2.65rem;
    border-right: none;
}
.buynum .cancel{
    border-color: #ccc;
    background: #f2f2f2;
    color: #bbb;
}
.list .del{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    line-height: 1.9rem;
    text-align: center;
    font-size: 0.25rem;
    width: 1.1rem;
    background: #ff4343;
    color: #fff;
    display: none;
}
/*list结束*/

/*foot开始*/
.foot{
    height: 1rem;
    width: 100%;
    background: #fff;
    border-top: 0.01rem solid #ccc;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}
.foot .left-box{
    float: left;
}
.foot .ok{
    line-height: 1rem;
    padding-left: 0.2rem;
    float: left;
}
.foot .empty{
    line-height: 1rem;
    padding-left: 0.2rem;
    float: left;
    display: none;
}
.foot .all{
    display: inline-block;
    line-height: 1rem;
}
.foot .total{
    display: inline-block;
    color: rgb(255, 102, 0);
    font-size: 0.22rem;
}
.foot .min{
    height: 100%;
    width: 1.5rem;
    float: left;
    margin-top: 0.1rem;
    margin-left: 1.8rem;
}
.foot p{
    display: inline-block;
    font-size: 0.24rem;
    color: #999;
    float: right;
}
.foot a{
    height: 100%;
    width: 1.8rem;
    line-height: 1rem;
    text-align: center;
    float: right;
    background: #ff4444;
    color: #fff;
}
.foot .del-all{
    display: none;
}
.foot .null{
    color: #999 !important;
    background: #f1f1f1 !important;
}
/*foot结束*/

/*empty-list开始*/
.empty-list{
    margin: 1rem 1rem;
    text-align: center;
}
.empty-list h4{
    font-size: 0.32rem;
    margin-bottom: 0.2rem;
    color: #666;
}
.empty-list p{
    color: #999;
}
.empty-list a{
    display: inline-block;
    border-radius: 3px;
    color: #f60;
    border: 0.01rem solid #f60;
    padding: 0.1rem 0.6rem 0.13rem 0.6rem;
    margin-top: 0.15rem;
}
/*empty-list结束*/