*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
body{
    background: #ecf0f1;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}


/*carousel开始*/
.carousel{
    width: 100%;
    height: 3rem;
    background: #f00;
    margin-bottom: 0.1rem;
}
/*carousel结束*/

/*nav开始*/
.nav ul li{
    float: left;
    height: 1.55rem;
    width: 25%;
    background: #fff;
    border: 0.03rem solid #ecf0f1;
    font-size: 0.3rem;
    text-align: center;
    padding-top: 0.15rem;
}
.nav ul li i{
    font-size: 0.5rem;
}
.nav ul li .i1{
    color: #dbc68f;
}
.nav ul li .i2{
    color: #bec1b0;
}
.nav ul li .i3{
    color: #8d7ce2;
}
.nav ul li .i4{
    color: #1cb6ea;
}
.nav ul li .i5{
    color: #b6c23a;
}
.nav ul li .i6{
    color: #da8b49;
}
.nav ul li .i7{
    color: #5fd038;
}
.nav ul li .i8{
    color: #ca6e6f;
}
/*nav结束*/

/*packet开始*/
.packet ul li{
    width: 2.03rem;
    height: 1rem;
    background: #f00;
    float: left;
    margin: 0.05rem;
    border-radius: 5px;
    color: #fff;
    position: relative;
}
.packet ul li .money{
    font-size: 0.35rem;
    font-weight: bold;
    float: left;
    margin: 0.26rem 0.3rem;

}
.packet ul li .con{
    width: 40%;
    font-size: 0.2rem;
    text-align: center;
    float: right;
    margin: 0.22rem 0;
    padding: 0 0.08rem;
    border-left: 0.01rem solid #ddd;
}
.packet ul li .circle1{
    display: inline-block;
    width: 0.12rem;
    height: 0.12rem;
    border-radius: 50%;
    background: #ecf0f1;
    position: absolute;
    left: 1.165rem;
    top: -0.06rem;
}
.packet ul li .circle2{
    display: inline-block;
    width: 0.12rem;
    height: 0.12rem;
    border-radius: 50%;
    background: #ecf0f1;
    position: absolute;
    left: 1.165rem;
    bottom: -0.06rem;
}
/*packet结束*/

/*details开始*/
.details img{
    width: 100%;
    margin-top: 0.3rem;
}
.details .title,.cooperation ul li{
    padding: 0.1rem 0;
    margin: 0.1rem 0.14rem;
    border-bottom: 0.01rem solid #ddd;
}
.details .title i,.cooperation ul li i{
    font-size: 0.25rem;
}
.details .title span,.cooperation ul li span{
    font-size: 0.25rem;
    font-weight: bold;
}
.details .title b,.cooperation ul li b{
    float: right;
    font-size: 0.25rem;
    color: #bec2c3;
}
.details ul li{
    width: 3.06rem;
    float: left;
    background: #fff;
    padding: 0 0.08rem;
    margin: 0.06rem 0.06rem;
    position: relative;
    
}
.details ul li img{
    width: 2.9rem;
    height: 2.9rem;
}
.details ul li .goodname{
    height: 0.65rem;
    font-size: 0.23rem;
}
.details ul li .price{
    float: left;
    font-size: 0.25rem;
    font-weight: bold;
    color: #f60;
}
.details ul li .buybtn{
    position: absolute;
    width: 0.7rem;
    height: 0.4rem;
    background: url('../../../../static/img/home/showcase.png') 0 -0.5rem no-repeat;
    background-size: 0.75rem auto;
    right: -0.02rem;
    bottom: 0.13rem;
}
/*details结束*/

/*message开始*/
.message ul{
    margin-left: 0.07rem;
}
.message ul li{
    float: left;
    width: 1.4rem;
    height: 0.6rem;
    margin: 0.08rem;
    margin-bottom: 0.3rem;
    border: 0.01rem solid #ccc;
    border-radius: 5px;
}
.message ul li i{
    font-size: 0.4rem;
    color: #0a8;
    float: left;
    margin: 0 0.08rem;
}
hr{
    background: #ccc;
    margin: 0.3rem 0.14rem;
}
.message ul li span{
    font-size: 0.2rem;
}
/*message结束*/