*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.common-nav{
    width: 36px;
    height: 100%;
    background: #000;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}
.common-nav ul{
    padding-top: 100px;
}
.common-nav ul li{
    margin-top: 8px;
}
.common-nav ul li a{
    display: block;
    color: #d8d8d8;
    width: 36px;
    height: 38px;
}
.common-nav ul li a:hover{
    background: #57a600;
}
.common-nav ul .buycar{
    width: 100%;
    height: 130px;
    padding-top: 5px;
}
.common-nav ul .buycar div{
    width: 16px;
    font-size: 12px;
    font-weight: bold;
    height: 48px;
    margin: 0 0 0 12px;
}
.common-nav ul .return-top{
    position: absolute;
    bottom: 0;
}
.common-nav ul .usd{
    background: #57a600;
}
.common-nav ul .buycar .num{
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background: #57a600;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    margin: 8px 0 0 8px;
    color: #fff;
}
.common-nav .glyphicon{
    font-size: 18px;
    width: 30px;
    height: 30px;
    margin-left: 8px;
    margin-top: 9px;
}
.common-nav .glyphicon-star-empty{
    margin-left: 9px;
}